<%- include('partials/header') %>
<div id="wrapper">
  <%- include('partials/sidebar') %>
  <%- include('partials/navbar') %>

  <div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">

      <!--Start Dashboard Content-->

      <div class="card mt-3">
        <div class="card-content">
          <div class="row row-group m-0">
            <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <h5 class="text-white mb-0"><%= countFornecedores %> <span class="float-right"><i class="fa fa-users"></i></span></h5>
                <br />
                <br />
                <p class="mb-0 text-white small-font">FORNECEDORES </p>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <h5 class="text-white mb-0"><%= countProducts %> <span class="float-right"><i class="fa fa-cube"></i></span></h5>
                <br />
                <br />
                <p class="mb-0 text-white small-font">TOTAL DE PRODUTOS</p>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <h5 class="text-white mb-0"><%= countService %> <span class="float-right"><i class="fa fa-eye"></i></span></h5>
                <br />
                <br />
                <p class="mb-0 text-white small-font">TOTAL DE SERVIÇOS</p>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <h5 class="text-white mb-0"><%= countProductPending %> <span class="float-right"><i class="fa fa-warning"></i></span></h5>
                <br />
                <br />
                <p class="mb-0 text-white small-font">PRODUTOS PENDENTES</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-8 col-xl-8">
          <div class="card">
            <div class="card-header">Site Traffic
              <div class="card-action">
                <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void();">Action</a>
                    <a class="dropdown-item" href="javascript:void();">Another action</a>
                    <a class="dropdown-item" href="javascript:void();">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void();">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>New Visitor</li>
                <li class="list-inline-item"><i class="fa fa-circle mr-2 text-light"></i>Old Visitor</li>
              </ul>
              <div class="chart-container-1">
                <canvas id="chart1"></canvas>
              </div>
            </div>

            <div class="row m-0 row-group text-center border-top border-light-3">
              <div class="col-12 col-lg-4">
                <div class="p-3">
                  <h5 class="mb-0">45.87M</h5>
                  <small class="mb-0">Overall Visitor <span> <i class="fa fa-arrow-up"></i> 2.43%</span></small>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="p-3">
                  <h5 class="mb-0">15:48</h5>
                  <small class="mb-0">Visitor Duration <span> <i class="fa fa-arrow-up"></i> 12.65%</span></small>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="p-3">
                  <h5 class="mb-0">245.65</h5>
                  <small class="mb-0">Pages/Visit <span> <i class="fa fa-arrow-up"></i> 5.62%</span></small>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-4 col-xl-4">
          <div class="card">
            <div class="card-header">Produtos
              <div class="card-action">
                <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void();">Action</a>
                    <a class="dropdown-item" href="javascript:void();">Another action</a>
                    <a class="dropdown-item" href="javascript:void();">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void();">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container-2">
                <canvas id="chart2"></canvas>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center">
                <tbody>
                  <tr>
                    <td><i class="fa fa-circle text-white mr-2"></i> Produtos</td>
                    <td id="countProduct"><%= countProducts %></td>
                    <td>0%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle text-light-1 mr-2"></i>Aprovados</td>
                    <td id="countProductApproved"><%= countProductApproved %></td>
                    <td>0%</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle text-light-2 mr-2"></i>Pendentes</td>
                    <td id="countProductPending"><%= countProductPending %></td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-circle text-light-3 mr-2"></i>Recusados</td>
                    <td id="countProductRefused"><%= countProductRefused %></td>
                    <td>0/td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--End Row-->

      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
            <div class="card-header">Fornecedores aguardando aprovação
              <div class="card-action">
                <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void();">Ver todos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush table-borderless"  id="datatablesSimple2">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>CNPJ</th>
                    <th>Nome Fantasia</th>
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <% peddingUser.forEach(item => { %>
                  <tr>
                    <td><%= item.name %></td>
                    <td><%= item.cpf %></td>
                    <td><%= item.email %></td>
                    <td><%= item.cnpj %></td>
                    <td><%= item.fantasyName %></td>
                    <td><%= item.approvedStatus %></td>
                    <td>
                      <div class="card-action">
                        <div class="dropdown">
                          <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                            <i class="icon-options"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/admin/user/edit/id/<%= item.id %>">Editar</a>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
            <div class="card-header">Produtos aguardando aprovação
              <div class="card-action">
                <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void();">Ver todos</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush table-borderless" id="datatablesSimple">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Image</th>
                    <th>Produto ID</th>
                    <th>Loja</th>
                    <th>Data</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>

                  <% peddingProduct.forEach(item => { %>
                  <tr>
                    <td><%= item.name %></td>
                    <td><img src="http://localhost:5000/img/imgUpload/<%= item.image %>" class="product-img" alt="product img"></td>
                    <td>#<%= item.id %></td>
                    <td><%= item.userId[0].fantasyName %></td>
                    <td>BREVE</td>
                    <td>
                      <div class="card-action">
                        <div class="dropdown">
                          <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                            <i class="icon-options"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void();"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void();"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Aprovar</a>
                            <a class="dropdown-item" href="javascript:void();"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Pendente</a>
                            <a class="dropdown-item" href="javascript:void();"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Recusar</a>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!--End Row-->

      <!--End Dashboard Content-->

      <!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->

    </div>
    <!-- End container-fluid-->
  </div>
  <%- include('partials/footer') %>