<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div id="layoutSidenav">
  <%- include('../../partials/sidebar') %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Editar serviço</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item">Editar serviço</li>
        </ol>
        <% if(error_msg.length > 0) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
        <% } %>
        <% if(success_msg.length > 0) { %>
        <div class="alert alert-success"><%= success_msg %></div>
        <% } %>
        <form class="row g-3 m-3 m-auto forms" method="POST" action="/account/services/edit/save" enctype="multipart/form-data">
          <input type="hidden" name="id" value="<%= service.id %>">
          <div class="row mb-3">
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-floating mb-3 mb-md-0">
                  <input class="form-control" id="name" name="name" value="<%= service.name %>" type="text" placeholder="Nome do serviço" />
                  <label for="name">Nome do serviço</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Descrição do serviço"><%= service.description %></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-8">
                <label for="image" class="form-label">Imagem de capa do serviço</label>
                <input type="file" name="image" id="image" class="form-control">
              </div>
              <div class="col-md-4">
                <label for="category" class="form-label">Categoria do serviço</label>
                <select id="category" name="category" class="form-select shadow-none">
                  <option value="" selected>Selecione uma categoria</option>
                  <% category.forEach((ct) => { %>
                  <% if(ct.id === service.categoryId[0].id) { %>
                  <option value="<%= ct.id %>" selected><%= ct.name %></option>
                  <% } %>
                  <option value="<%= ct.id %>"><%= ct.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="col-12 m-2">
              <div class="form-check">
                <% if(service.active === true) { %>
                <input class="form-check-input shadow-none" type="checkbox" id="activeProduct" name="activeProduct" value="false">
                <% } else { %>
                <input class="form-check-input shadow-none" type="checkbox" id="activeProduct" name="activeProduct" value="false" checked>
                <% }%>
                <label class="form-check-label" for="activeProduct">
                  Não exibir serviço na pagina!
                </label>
              </div>
              <small>Marcando indica que o serviço não sera mostrado no site! mas ficará salvo na lista</small>
            </div>
            <button class="btn btn-primary w-50 p-2 m-auto">Salvar</button>
        </form>

      </div>
    </main>

    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
        toolbar_mode: 'floating',
      });
    </script>
    <%- include('../../partials/footer') %>