<%- include('../../partials/header') %>
<div id="wrapper">
  <%- include('../../partials/sidebar') %>
  <%- include('../../partials/navbar') %>

  <div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% if(success_msg.length > 0) { %>
          <div class="alert alert-success"><%= success_msg %></div>
          <% } %>
          <div class="card">
            <div class="card-header">Categorias
              <div class="card-action">
                <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/admin/categorys/ticket/new">Nova Categoria</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table my-table-custom" id="datatablesSimple">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <!-- <th scope="col">Slug</th> -->
                      <th scope="col">Status</th>
                      <th scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% ticketCategory.forEach(item => { %>
                    <tr>
                      <td><%= item.name %></td>
                      <td>breve</td>
                      <td>
                        <div class="card-action">
                          <div class="dropdown">
                            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                              <i class="icon-options"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="/admin/categorys/ticket/edit/id/<%= item.id %>"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                              <form action="/admin/categorys/ticket/delete/" method="POST" onsubmit="confirmDelete(event, this, `<%= item.name %>`)">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <button class="dropdown-item"><i class="fa-solid fa-trash-can"></i> Excluir</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Row-->

      <!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->

    </div>
    <!-- End container-fluid-->
  </div>

  <script>
    function confirmDelete(event, form, category) {
      event.preventDefault();
      Swal.fire({
        title: 'Você tem certeza?',
        text: "Você não poderá reverter isso!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim, delete isso!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Deletado!',
            `Sua categoria ${category} foi deletado!`,
            'success'
          ).then((result) => {
            form.submit();
          })
        }
      })
    }
  </script>
  <%- include('../../partials/footer') %>