<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div id="layoutSidenav">
  <%- include('../../partials/sidebar') %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Tickets</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item">Novo serviço</li>
        </ol>
        <% if(error_msg.length > 0) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
        <% } %>
        <% if(success_msg.length > 0) { %>
        <div class="alert alert-success"><%= success_msg %></div>
        <% } %>
        <form class="row g-3 m-3 m-auto forms" method="POST" action="/user/ticket/new/save">
          <div class="row mb-3">
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-floating mb-3 mb-md-0">
                  <input class="form-control" id="title" name="title" type="text" placeholder="Titulo" />
                  <label for="title">Titulo</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="category" class="form-label">Categoria</label>
                <select id="category" name="category" class="form-select shadow-none">
                  <option value="" selected>Selecione uma categoria</option>
                  <% categoryTicket.forEach(item => { %>
                  <option value="<%= item.id %>"><%= item.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Digite sua duvida!"></textarea>
              </div>
            </div>

            <button class="btn btn-primary w-50 p-2 m-auto">Enviar ticket</button>
        </form>

      </div>
    </main>

    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
        toolbar_mode: 'floating',
      });
    </script>
    <%- include('../../partials/footer') %>