<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<section class="area-container">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="h2 pb-4 m-2">Filtros</h1>
        <ul class="list-unstyled">
          <li class="m-2">
            <form action="#">
              <input type="search" class="form-control" name="search" id="searchbar" onkeyup="searchItem()">
            </form>
          </li>
          <li class="pb-3 m-2">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
              Categorias
              <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul id="collapseThree" class="collapse list-unstyled pl-3">
              <% category.forEach(categorys => { %>
              <li><a class="text-decoration-none" href="#"><%= categorys.name %></a></li>
              <hr>
              <% }) %>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-lg-9">
        <div>
          <p>Total de resultados encontrados: <%= countProduct %></p>
        </div>
        <div class="row gy-3">

          <% resultPage.allProducts.forEach(product => { %>
          <% if(product.notActive === true || product.approvedStatus === 'pending' || product.approvedStatus === 'refused') {%>

          <% } else { %>

          <div class="card-group col-md-3">
            <div class="card" id="product">
              <img class="card-img-top" src="/img/imgUpload/<%= product.image %>" alt="<%= product.name %>">
              <div class="card-body">
                <h5 id="nameProduct" class="card-title"><%= product.name %></h5>
                <p><%= product.userId[0].fantasyName %></p>
                <p class="card-text">Loja</p>
                <a class="btn" href="/products/details/<%= product.id %>"><i class="bi bi-eye"> Ver detalhes</i></a>
              </div>
            </div>
          </div>
          <% } %>
          <% }) %>
        </div>
        <div class="pagination" id="pagination">
          <% totalPage.forEach(totalPage => { %>
          <a href="/search/category/<%= categoryId %>/page/<%= totalPage %>"><%=  totalPage +1 %></a>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>