<%- include('../../partials/header') %>
<div id="wrapper">
  <%- include('../../partials/sidebar') %>
  <%- include('../../partials/navbar') %>

  <div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% if(success_msg.length > 0) { %>
          <div class="alert alert-success"><%= success_msg %></div>
          <% } %>
          <div class="card">
            <div class="card-header">Categorias
              <div class="card-action">
                <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/admin/categorys/new">Nova Categoria</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table my-table-custom" id="datatablesSimple">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Slug</th>
                      <th scope="col">Status</th>
                      <th scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% getAllCategory.forEach(item => { %>
                    <tr>
                      <td><%= item.name %></td>
                      <td><%= item.slugify %></td>
                      <td>breve</td>
                      <td>
                        <div class="card-action">
                          <div class="dropdown">
                            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                              <i class="icon-options"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="/admin/user/edit/id/"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                              <a class="dropdown-item" href="javascript:void();"><i class="fa-solid fa-trash-can"></i> Excluir</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Row-->

      <!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->

    </div>
    <!-- End container-fluid-->
  </div>
  <%- include('../../partials/footer') %>